.idea/*
.idea/workspace.xml
test-results/*
*.pyc
*.sublime-*
.python-version
__pycache__/
**/__pycache__/
*.pyo
*.pyd
*.egg-info/
build/
**/build/
dist/
**/dist/
site/
pip-wheel-metadata/
.venv/
.pytest_cache/
dev/

# private working notes
local_notes/
.pre-commit-config.local.yaml

# Files created by following the README tutorial
/output_dir/
/lambda.phage_test_sample_*.fq.gz
/lambda_phage.fa*
/data/lambda_phage.fa.*
!/data/lambda_phage.fa.fai
